[flake8]
# UFN plugin must be run in serial
jobs = 0

max-line-length = 120
exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    ansible/*,
    docs/*,
    .cache/*
    utilities/unittests/*

fcn_exclude_functions =
    Path,
    relative_to,
    re,
    group,
    os,
    parser,
    urllib,
    shutil,
    LOGGER,
    BASIC_LOGGER,
    get_plugin,
    ElementTree,
    xml_doc,
    findall,
    record_testsuite_property,
    time,
    tmpdir_factory,
    sh,
    json,
    yaml,
    subprocess,
    jinja2,
    xmltodict,
    netaddr,
    request,
    sub,
    deepcopy,
    logging,
    add_option,
    pytest,
    expect,
    sendline,
    write,
    send,
    namedtuple,
    parametrize,
    console_eof_sampler,
    check_output,
    sleep,
    datetime,
    resource_stream,
    random,
    pytestconfig,
    prev_eq_func,
    addoption,
    CreateContainerView,
    defaultdict,
    Counter,
    bcrypt,
    getoption,
    tmp_path_factory,
    signal,
    submit,
    io,
    benedict,
    BeautifulSoup,
    usefixtures,
    find_spec,
    skip,
    QueueListener,
    requests,
    multiprocessing,

nit_exclude_imports =
    os_params,
    upgrade_params,
    tests.utils


enable-extensions =
    PID,
    FCN,
    UFN,
    NIC,
    NIT,
